nav{
    background-color:#1C2B35;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:0 140px;
}
nav div a {
    color: white;
    margin-left:36px ;
    font-size: 17px;
}
nav div a:hover{
    color: red;
}