body {
  /* background-color: rgb(204, 204, 204); */
   background-color: rgb(189, 189, 189); 
   color: rgb(0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  text-align: center;
  margin: auto;
  margin-bottom: 30px;
  text-transform: capitalize;
}
.img img {
  width: 100%;
}
img {
  display: block;

  margin: auto;
}
.div700 {
  margin: auto;
  width: 700px;
  column-gap: 20px;
  display: flex;
  justify-content: center;
}
.img {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 500px;
}
.red,.r,.rd {
  background-color: rgba(228, 0, 0, 0.685);
}
.blue,.bl,.b {
  background-color: rgba(0, 0, 255, 0.685);
}.green,.gn,.grn,.g {
  background-color: rgba(0, 128, 0, 0.685);
  color: white;
}
.text-low ,.tl{
  text-transform: lowercase;
}
.tn{
  text-transform: none;
}
.w-700{
  width: 700px;
}.w-500{
  width: 500px;
}
.rem{
  font-size: 1.5rem;
}
.rem2{
  font-size: 2rem;
}
.round{
  border-radius: 15%;
}
.round2{
  border-radius: 25%;
}
.inline{
  display: inline-block;
  margin-left: 30%;
}